@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web app is running on localhost... security is not a major concern.</p>
<p>Unlike this app, security is NO JOKE!</p>